<section class="header center text-center">
    <div class="header-content-inner">
      <h1>Rainboom Studio</h1>
      <p><strong>We Made Cool Games !</strong></p>
    </div>
</section>
<div class="col-xs-12" style="height:100px;"></div>

<div class="samer">
<div class="col-xs-12" style="height:50px;"></div>
<h1>PROJECT ONE</h1>
<h3>The first open beta soon available!</h3>
<p>We work really hard to create a first development build of our new game and guess what ?! You can test it on our developers map!</p>
<div class="col-xs-12" style="height:50px;"></div>
</div>
<div class="col-xs-12" style="height:100px;"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-3">
        <h1 class="fas fa-gamepad"></h1><br>
        <h2>Passionate Gamer!</h2>
        <p>We are passionate gamers for long time, so we know what you want!</p>
        </div>
        
        <div class="col-sm-offset-1 col-sm-3">
        <h1 class="fas fa-users"></h1><br>
        <h2>Strong Team</h2>
        <p>A cohesive team that only comes out with the best!</p>
        </div>
        
        <div class="col-sm-offset-1 col-sm-3" >
        <h1 class="fas fa-code-branch"></h1><br>
        <h2>Last-ditch engines!</h2>
        <p>We work with our own game engine, Rainboom Engine.</p>
        </div>
                
        <div class="col-sm-offset-1 col-sm-3" >
        <h1 class="fas fa-smile-wink"></h1><br>
        <h2>Have Fun!</h2>
        <p>We hope you enjoy our games!</p>
        </div>
    </div>
</div>

<div class="col-xs-12" style="height:100px;"></div>